body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

.wrapper {
	margin: 50px auto;
	max-width: 1080px;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	border-bottom: 1px solid #eaeaea;
	.headerLeft {
		display: flex;
		align-items: center;
	}
	img {
		margin-right: 15px;
	}
	a {
		text-decoration: none;
	}
	.headerInfo {
		h3 {
			margin: 0;
			text-transform: uppercase;
			color: #000000;
		}
		p {
			margin: 0;
			color: #9D9D9D;
		}
	}
	.headerRight {
		display: flex;
		align-items: center;
		list-style: none;
		li {
			cursor: pointer;
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.content {
	padding: 40px;
}

.contentHead {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-block {
	display: flex;
	padding: 0 15px;
	border: 1px solid #f3f3f3;
	border-radius: 10px;
	input {
		border: 0;
		outline: 0;
		padding: 13px;
		font-style: 16px;
	}
}

.card {
	width: 220px;
	border: 1px solid #f3f3f3;
	padding: 20px;
	border-radius: 40px;
	transition: 0.2s ease-in-out;
	margin-bottom: 40px;

	&:not(:nth-child(4n)) {
		margin-right: 30px;
	}

	&:hover {
		box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
		transform: translateY(-5px);
	}

	.favorite {
		position: absolute;
		width: 32px;
		height: 32px;
		background: none;
		padding: 0;
		margin: 0;
		border: none;
		cursor: pointer;
	}

	p {
		font-weight: 400;
		font-style: 14px;
	}
	.cardContent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.cardBottom {
			display: flex;
			flex-direction: column;
		}
		button {
			width: 32px;
			height: 32px;
			background: none;
			padding: 0;
			margin: 0;
			border: none;
			cursor: pointer;
		}
	}
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.drawer {
	width: 385px;
	height: 100vh;
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	padding: 30px;
	background: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
}
.items {
	overflow: auto;
}
.df {
	position: absolute;
	display: flex;
	flex-direction: column;
}

.cardTop {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	h2 {
		margin: 0;
	}
}

.cardTotalBlock {
	ul {
		margin: 0;
		margin-bottom: 40px;
		padding: 0;
		list-style: none;
		li {
			display: flex;
			align-items: flex-end;
			margin-bottom: 20px;
			div {
				flex: 1;
				height: 1px;
				border-bottom: 1px dashed #dfdfdf;
				position: relative;
				top: -3px;
				margin: 0 10px;
			}
		}
	}
}

.items {
	flex: 1;
}

.greenButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 55px;
	background: #9dd558;
	border-radius: 18px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	&:hover {
		background: lighten(#9dd558, 5%);
		.btnApply {
			transform: translateX(10px);
		}
		.btnBack {
			transform: translateX(-10px);
		}
	}
	&:active {
		background: darken(#9dd558, 20%);
	}
	img {
		transition: 0.3s ease-in-out;
	}
	.btnApply {
		margin-left: 10px;
	}
	.btnBack {
		margin-right: 10px;
	}
}

.cartItem {
	display: flex;
	align-items: center;
	border: 1px solid #f3f3f3;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 20px;

	img:not(:last-child) {
		margin-right: 20px;
	}
	div {
		margin-right: 20px;
		p {
			margin: 0;
			margin-bottom: 5px;
			font-size: 16px;
		}
		b {
			font-size: 14px;
		}
	}
}
.removeBtn {
	opacity: 0.5;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

.cart {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h3 {
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
		color: #000000;
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #000000;
		opacity: 0.4;
	}
}
